# Global
.DS_Store
*.swp
*.sh
.metadata
target
test-output
*.db
*/.*
buildNumber.properties

catalina.base_IS_UNDEFINED

# IDEs
*.iml
*.idea/
*.classpath
*.project
*.log
*.settings/
rebel.xml


/bin/

